# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/
*.lcov

# Build
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp

# Storage
storage/*
!storage/.gitkeep

# Misc
.turbo/
.cache/
